.card {
    padding: 0;
    margin-top: 3px;
    margin-bottom: 3px;
}

.card #calendar {
    direction: ltr;
    width: 100%;
}

.p-float-label>label {
    right: 20%;
    text-align: right;
}

.gap {
    margin-bottom: 20px;
}

#button {
    text-align: center;
}

.field {
    margin-bottom: 0.2rem;
}

.p-inline-message-error {
    background-color: #ffffff;
    padding: 0;
}

.name {
    grid-area: name;
}

.description {
    grid-area: description;
}

.external {
    grid-area: demand;
}

.factorableType {
    grid-area: type;
}

.status {
    grid-area: status;
}

.perform {
    grid-area: operating;
}

.productionTime {
    grid-area: date;
}

.purpose {
    grid-area: goal;
}

.classification {
    grid-area: classification;
}

.environment {
    grid-area: devEnvironment;
}

.population {
    grid-area: population;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'name name'
        'goal goal'
        'description description'
        'type  operating'
        'demand classification'
        'devEnvironment population'
        'status  date';
    gap: 5px;
    padding: 15px;
}

.grid-container>div {
    padding: 5px;
    font-size: 17px;
}